# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LivevsEvil.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\LivevsEvil\LivevsEvil\.idea\.idea.LivevsEvil\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
